body {
  margin: 0px;
}

header {
  background-color: lightgray;
  height: 125px;
  margin-bottom: 20px;
}

.content-a {
  background-color: red;
  height: 350px;
  width: 100%;
}

.content-b {
  background-color: orange;
  height: 350px;
  width: 100%;
}

.content-c {
  background-color: yellow;
  height: 700px;
  width: 35%;
}

.all_blocks {
  display: flex;
  flex-direction: row;
}

.block_ab {
  width: 75%;
}

footer {
  margin-top: 20px;
  height: 125px;
  background-color: lightgray;
}

@media only screen and (max-width: 820px) {
  .block_ab {
    width: 50%;
  }
  .content-c {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  header {
    height: 80px;
  }

  .all_blocks {
    display: flex;
    flex-direction: column;
  }

  .block_ab {
    width: 100%;
  }
  .content-a {
    height: 220px;
    width: 100%;
  }

  .content-b {
    height: 220px;
    width: 100%;
  }

  .content-c {
    height: 220px;
    width: 100%;
  }

  footer {
    margin-top: 20px;
    height: 80px;
    background-color: lightgray;
  }
}
