body {
  margin: 0px;
}

header {
  background-color: lightgray;
  height: 125px;
  margin-bottom: 20px;
}

.content-a {
  background-color: greenyellow;
  height: 100%;
  width: 50%;
}

.content-b {
  background-color: green;
  height: 100%;
  width: 25%;
  order: -1;
}

.content-c {
  background-color: yellow;
  height: 100%;
  width: 25%;
}

.all_blocks {
  height: 700px;
  display: flex;
  direction: row;
}

footer {
  margin-top: 20px;
  height: 125px;
  background-color: lightgray;
}

@media only screen and (max-width: 820px) {
  header {
    height: 55px;
  }
  .all_blocks {
    flex-wrap: wrap;
  }
  .content-a {
    height: 600px;
    width: 100%;
  }
  .content-b {
    order: 0;
    display: inline-block;
    height: 325px;
    width: 50%;
  }
  .content-c {
    height: 325px;
    width: 50%;
  }
  footer {
    margin-top: 30%;
    height: 55px;
  }
}

@media only screen and (max-width: 450px) {
  header {
    height: 35px;
  }
  .all_blocks {
    display: unset;
  }
  .content-a {
    height: 345px;
    width: 100%;
  }
  .content-b {
    order: 0;
    height: 179px;
    width: 100%;
  }
  .content-c {
    height: 179px;
    width: 100%;
  }
  footer {
    margin-top: 5%;
    height: 35px;
  }
}
